@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

ul,p,h1,h2,h3{
    padding: 0;
    margin: 0;
    list-style: none;
}

 

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

header{
    margin-bottom: 35px;
}

#head-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head-wrap #header-title h1{
    padding: 10px;
    color: white;
    background-color: rgb(255, 79, 79);
    border-radius: 5px;
}
 
 
#head-wrap #header-nav nav ul li{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}

main #main-news{
    background:url(1.jpg);
    background-position-y: -250px;
    background-size: cover;
    height: 320px;
    position: relative;
    padding: 15px;
}

main #main-news #main-news-title{
    position: absolute;
    bottom: 15px;
}

main #main-news #main-news-title h2,
main #main-news #main-news-title p{
    color: white;
}

main #main-news-highlight{
    margin: 12px 0 35px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
}

main #main-news-highlight article img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

main #main-content{
    display: flex;
}

main #main-content #main-content-posts{
    flex: 70%;
    padding-right: 15px;
}

main #main-content #main-content-sidebar{
    flex: 30%;
}

main #main-content #main-content-posts article{
    margin: 35px 0;
    display: flex;
    
}

main #main-content #main-content-posts article p{
    margin: 10px 0;
    line-height: .8cm;
}

main #main-content #main-content-posts .article-thumb{
    flex-shrink: 0;
    margin-right: 15px;
}

main #main-content #main-content-posts .article-thumb img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

main #main-content #main-content-posts .article-title{
 
}

main #main-content #main-content-posts #posts-page-number{
    margin: 25px 0;
    text-align: center;
}

main #main-content #main-content-posts #posts-page-number span{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 15px;
}

#bytag{
    display: flex;
}

.bytag-content{
    flex: 50%;
  
}

.bytag-content li{
    display: flex;
    margin: 35px 0;
}

.bytag-content li div{
    padding: 0 15px;
}

.bytag-content img{
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

#main-content-sidebar h2,
.title{
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgb(253, 211, 41);
    margin-bottom: 25px;
}

#main-content-sidebar li {
    margin: 25px 0;
    font-weight: bold;
}

#main-content-sidebar li:nth-child(odd){
    border-right: 5px solid rgb(255, 179, 0);
 
}

footer{
    padding: 15px;
   
    background-color: black;
    color: white;
}

 
footer #footer-links{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

footer #footer-links .footer-links{
    flex: 25%;
}

footer #footer-links li{
    margin : 25px 0
}